
@include breakpoint(px, max-width $mobile-breakpoint) {
  .hero-h1-textcontent {
    display: block;
    font-size: 72px;
  }
}


.spinner-hero {
  @include spinner(border-width 5px);
  margin-top: -10px;
  margin-right: .3em;
}

.example-spinner {
  @include rems(font-size, 26px);
  text-align: center;
}

.my-spinner-default {
  @include spinner();
  margin-right: .5em;
}


.my-big-fat-spinner {
  @include spinner(2em, border-width 12px);
  margin-right: .5em;
}

.my-orange-dotted-spinner {
  @include spinner(1.5em, 6px dotted orange);
  margin-right: .5em;
}

.my-dashed-spinner {
  @include spinner(1.1em, border-style dashed);
  margin-right: .5em;
}

.my-double-spinner {
  @include spinner(6px double fuchsia);
  margin-right: .5em;
}

.my-fast-spinner {
  @include spinner(.3s, border-width 4px, border-color #aaa);
  margin-right: .5em;
}

.my-slow-spinner {
  @include spinner(3s);
  margin-right: .5em;
}
