$font-size-base: 16px;
// $theme-color: #4285f4;

$theme-color: #1277c2;
$theme-color-dark: #005797;
$theme-color-extra-dark: #003a64;
$accent-color: #ff9d00;
$mobile-breakpoint: 600px;
$mobile-padding: 20px;
$content-max-width: 720px;